<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.yourcompany.barcodescan">

  <uses-permission android:name="android.permission.CAMERA" />

  <application>
    <activity android:name="com.apptreesoftware.barcodescan.BarcodeScannerActivity" />
 <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
  </application>
</manifest>
